* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    font-family: Arial, Tahoma;
  }
  /* For Demo Only */
  .box {
    background-color: #eee;
    margin: 40px auto;
    width: 800px;
    height: 300px;
    position: relative;
  }
  .box:before {
    width: 4px;
    height: 100%;
    left: 50%;
    margin-left: -2px;
  }
  .box:after {
    height: 4px;
    width: 100%;
    top: 50%;
    margin-top: -2px;
  }
  .box:before,
  .box:after {
    content: "";
    background-color: #ddd;
    position: absolute;
  }
  .box .item {
    background-color: #f00;
    width: 200px;
    height: 100px;
  }
  /* For Demo Only */
  /* Margin + Position */
  .item {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 50%;
    margin-bottom: -50px;
    z-index: 1;
}